

.boxElement {
    @include arrangeBoxes();
    font-family: 'Segoe UI'; 
    font-size: 1.5em;
    font-weight: bold;
li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  ul {
    background-color: #dddddd;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }